<h1>Listing articles</h1>

<form action="<% articles_path %>" method="get">
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
</form>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
	<th colspan="4">stuff</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
	  <td><%= link_to 'show', article_path(article) %></td>
	  <td><%= link_to 'edit', edit_article_path(article) %></td>
	  <td><%= link_to 'delete', article_path(article), method: :delete, data: { confirm: 'ARE YOU SURE?' } %></td>
	  <td> has <%= pluralize(article.comments.count, "comment") %>.
	  <% if current_user && current_user.usertype == 'admin'%>
	    SUP (you're an 'admin')
	  <% end %>
	  </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New article', new_article_path %>
 | <%= link_to 'Show all', articles_path %>
 | <%= link_to 'Home', home_path %>